<!DOCTYPE HTML>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <script src="js/class.js"></script>
    <script src="js/diet-db.js"></script>
    <style>
        td {border: solid 1px #eeeeee}
    </style>

    <script>
          
        // nend広告表示用設定
        var nend_params = {"media":52387,"site":287839,"spot":845786,"type":1,"oriented":3};

        //ons.bootstrap();
        //var app = angular.module('myApp', ["onsen"]);
        var app = ons.bootstrap("myApp", ["onsen"]);
        
        // コンビニ一覧コントローラ
        var _selectedShopList; // TODO:微妙。「コンビニから探す」ボタンを押下⇒コンビニ情報select⇒コンビニ一覧画面に渡すのをどうやるのが正解なんだろう。。
        app.controller('shopController', function($scope) {
            this.items = _selectedShopList;
            });
        
        // 商品分類一覧コントローラ
        var _selectedClassList; // TODO:微妙。「商品分類から探す」ボタンを押下⇒商品分類情報select⇒コンビニ一覧画面に渡すのをどうやるのが正解なんだろう。。
        app.controller('classController', function($scope) {
            this.items = _selectedClassList;
            });
        
        app.controller('TestController', function($scope) {
            $scope.hoge = "hoge";
        });
        
        // 商品一覧コントローラ
        var _selectedItemList; // TODO:微妙。コンビニ一覧コントローラと同じ問題
        var _itemSearchCondition; // TODO:微妙。コンビニ一覧コントローラと同じ問題
        app.controller('itemController', function($scope) {   
            // $scope初期化
           //alert("商品一覧コントローラ");
            // 商品一覧
            //$scope.itemList = _selectedItemList;
            this.itemList = _selectedItemList;
            // 商品の検索条件、ソート条件
            //$scope.searchCond = _itemSearchCondition;
            this.searchCond = _itemSearchCondition;
            
            

            
            
            //$scope.dialogs = {};

            $scope.showSortDialog = function() {
                // ダイアログを表示
                document.getElementById('sort-dialog').show();
            }
            
            

            $scope.sortClick = function(btnNum) {
                // 商品情報をDBから取得し、取得に成功したら画面更新
                var itemSearchCond = new ItemSearchCond(
                    _itemSearchCondition.shopId, // 選択されたコンビニはそのまま
                    _itemSearchCondition.classId, // 選択された商品分類はそのまま
                    btnNum
                    );
                    
                selectItemList(itemSearchCond, function(selectedItemList) {
                    _selectedItemList = selectedItemList;
                    _itemSearchCondition = itemSearchCond;
                    document.querySelector('#navigator').replacePage('itemlist.html', {animation: 'none', refresh:true});
                });
            }       
            
            // クレジットボタン押下
            $scope.creditClick = function() {
                // onsenを利用したダイアログ表示
                ons.notification.confirm({
                    title: "情報元",
                    message: "セブンURL:xxxxx.com/xxxx<br/>情報更新日時：xxxx/xx/xx", // TODO:DBから値を取得して設定する
                    buttonLabels: ["OK"],
                });
               
            };
        });
        
        // nend広告表示用のディレクティブを定義する
//        app.directive('nendAdInjector', function () {
//            return {
//                link : function(scope, element) {
//                    var nendOriginalElem = angular.element(document.querySelector('#nend_wrapper'));
//                    element.replaceWith(nendOriginalElem.clone());
//                }
//            }
//        });
        
        ons.ready(function() {
            //alert('アプリがはじまるよ～');
            initial_db();
            
            // nend広告表示用設定
            var nendOriginalElem = angular.element(document.querySelector('#nend_wrapper'));
            var nendInjectElem1 = angular.element(document.querySelector('#new_nend_wrapper'));
            nendInjectElem1.replaceWith(nendOriginalElem.clone());
        });
    
        // Page init event
        document.addEventListener('init', function(event)
        {
            var page = event.target;

            if (page.matches('#home')) {
                // ホーム画面

                // コンビニ一覧画面に遷移
                page.querySelector('#move_cvslist').onclick = function() {
                    var sendParam = {
                        data: {
                            item : {
                                name: "hoge",
                                value: "test"
                            }
                        }
                    };
                    
                    // コンビニ情報をDBから取得し、取得に成功したらコンビニ一覧画面に遷移
                    selectShopList(function(selectedShopList) {
                        _selectedShopList = selectedShopList;
                        document.querySelector('#navigator').pushPage('cvslist.html', sendParam);
                    });
                    
                };
                // 分類一覧画面に遷移
                page.querySelector('#move_classlist').onclick = function() {
                    
                    // コンビニ情報をDBから取得し、取得に成功したら商品分類一覧画面に遷移
                    selectClassList(function(selectedClassList) {
                        _selectedClassList = selectedClassList;
                        document.querySelector('#navigator').pushPage('classlist.html');
                    });
                    
                };
            } else if (page.matches('#cvslist')) {
                // コンビニ一覧画面
                
                // コンビニ選択時に商品一覧画面に遷移
                var cvslist = document.getElementsByClassName("cvs_item");
                for(var i = 0; i < cvslist.length; i++){
                    // コンビニのクリックイベント設定
                    setShopClickEvent(cvslist[i]);
                }
                
            } else if (page.matches('#classlist')) {
                // 商品分類一覧画面
                
                // 分類選択時に商品一覧画面に遷移
                var classlist = document.getElementsByClassName("class_item");
                for(var i = 0; i < classlist.length; i++){
                    // 分類のクリックイベント設定
                    setClassClickEvent(classlist[i]);
                }
                
            } else if (page.matches('#itemlist')) {
                // 商品一覧画面
                
                // 商品選択時にポップアップ画面を表示
                var itemList = document.getElementsByClassName("product_item");
                for(var i = 0; i < itemList.length; i++) {
                    switch(i) {
                        case 0: 
                            itemList[i].onclick = function() {
                                // onsenを利用したダイアログ表示
                                ons.notification.confirm({
                                    message: "ソート順指定",
                                    buttonLabels: ["糖質", "カロリー", "値段"],
                                    callback: function(index) {
                                        // 押されたボタンを表示
                                        ons.notification.alert({ message: "押したボタン：" + index });
                                        
                                    }
                                });
                            };
                            break;
                        case 1:
                            itemList[i].onclick = function() {
                                alert(2);
                            };
                            break;
                        case 2:
                            itemList[i].onclick = function() {
                                // ダイアログのボタンにイベントを設定
                                var btnList = document.getElementsByClassName('dialog_btn');
                                for(var i = 0; i < btnList.length; i++) {
                                    btnList[i].onclick = function() {
                                        // ダイアログを閉じる
                                        document.getElementById('action-sheet-dialog').hide();
                                    }
                                }
                                // ダイアログを表示
                                document.getElementById('action-sheet-dialog').show();
                            };
                            break;
                    }
                }
            }
        });
        
        /**
         * コンビニのクリックイベント設定
         * @param listItem ons-list-itemタグ
         */ 
        function setShopClickEvent(listItem) {
            var cvsid = listItem.getAttribute("cvsid");// cvsid属性に企業IDが設定されている
            listItem.onclick = function() {
                // コンビニクリックイベント
                
                var itemSearchCond = new ItemSearchCond(
                    cvsid, // cvsid属性に企業IDが設定されている
                    null, // コンビニ一覧画面から商品一覧画面に遷移するときは商品分類では絞りこまない
                    0 // コンビニ一覧画面から商品一覧画面に遷移するときはデフォルトソート
                    );
                // 商品情報をDBから取得し、取得に成功したら商品一覧画面に遷移
                selectItemList(itemSearchCond, function(selectedItemList) {
                    _selectedItemList = selectedItemList;
                    _itemSearchCondition = itemSearchCond;
                    document.querySelector('#navigator').pushPage('itemlist.html');
                });
            };
        }
        
        /**
         * 商品分類のクリックイベント設定
         * @param listItem ons-list-itemタグ
         */ 
        function setClassClickEvent(listItem) {
            var classid = listItem.getAttribute("classid"); // classid属性に分類IDが設定されている
            listItem.onclick = function() {
                // 商品分類クリックイベント

                var itemSearchCond = new ItemSearchCond(
                    null, // 商品分類一覧画面から商品一覧画面に遷移するときはコンビニでは絞りこまない
                    classid, // classid属性に分類IDが設定されている
                    0 // 商品分類一覧画面から商品一覧画面に遷移するときはデフォルトソート
                    );
                // 商品情報をDBから取得し、取得に成功したら商品一覧画面に遷移
                selectItemList(itemSearchCond, function(selectedItemList) {
                    _selectedItemList = selectedItemList;
                    _itemSearchCondition = itemSearchCond;
                    document.querySelector('#navigator').pushPage('itemlist.html');
                });
                
            };
        }
    </script>
</head>

<body>
    <ons-navigator id="navigator" page="home.html">
    </ons-navigator>
    <!-- nend広告表示用設定 -->
    <div id="div_nend"><script type="text/javascript" src="http://js1.nend.net/js/nendAdLoader.js"></script></div>

    <!-- ホーム画面 -->
    <template id="home.html">
        <ons-page id="home">
            <!--<ons-toolbar>
                <div class="center">ホーム</div>
            </ons-toolbar>-->
            <div style="width:90vw; margin:auto;"> 
                <img src="img/walk.gif" alt="" style="width:100%;margin-top:20px;" />
                <ons-button id="move_cvslist" modifier="large" style="margin-top:20px;">コンビニから探す</ons-button>
                <ons-button id="move_classlist" modifier="large" style="margin-top:20px;">分類から探す</ons-button>
            </div>
        </ons-page>
    </template>


    <!-- 商品分類一覧画面 -->
    <template id="classlist.html">
        <ons-page id="classlist" ng-controller="classController as ctrl">
            <ons-toolbar>
                <div class="left"><ons-back-button></ons-back-button></div>
                <div class="center">商品分類一覧</div>
            </ons-toolbar>
            <ons-list>
                <ons-list-item tappable class="class_item" ng-repeat="item in ctrl.items" classid="{{item.id}}">
                    <div style="width:100%; text-align:center;">{{item.name}}</div>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </template>
    
    <!-- 商品一覧画面 -->
    <template id="itemlist.html">
        <ons-page id="itemlist" ng-controller="itemController as ctrl">
            <ons-toolbar>
                <div class="left"><ons-back-button></ons-back-button></div>
                <div class="center">商品一覧</div>
                <div class="right">
                    <ons-toolbar-button ng-click="showSortDialog()">
                        <ons-icon icon="ion-arrow-swap"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-click="creditClick()">
                        <ons-icon icon="ion-information"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            
            <ons-list>
                <ons-list-item tappable class="product_item" ng-repeat="item in ctrl.itemList">
                    <table>
                        <tr>
                            <td rowspan="3" style="width:20vw;"><img src="{{item.icon}}" style="width:20vw;"/></td>
                            <td colspan="2" style="width:70vw;">{{item.name}}</td>
                            <td style="width:10vw;"><img src="{{item.shop_icon}}" style="width:10vw;"></td>
                        </tr>
                        <tr>
                        	<td style="width:40vw;">{{item.calorie}}kcal</td>
                            <td colspan="2" rowspan="2">{{item.glucide}}g</td>
                    	</tr>
                        <tr>
                            <td>{{item.price}}円</td>
                    	</tr>
                    </table>
                </ons-list-item>
            </ons-list>
            <!-- ダイアログ表示用 -->
            <ons-action-sheet id="action-sheet-dialog" cancelable>
              <ons-action-sheet-button class="dialog_btn" icon="md-square-o">Action 1</ons-action-sheet-button>
              <ons-action-sheet-button class="dialog_btn" icon="md-square-o">Action 2</ons-action-sheet-button>
              <ons-action-sheet-button class="dialog_btn" modifier="destructive" icon="md-square-o">Action 3</ons-action-sheet-button>
              <ons-action-sheet-button class="dialog_btn" icon="md-square-o">Cancel</ons-action-sheet-button>
            </ons-action-sheet>
            
            <!-- ダイアログ表示用 -->
            <ons-dialog id="sort-dialog" var="sortDialog" cancelable>
                <ons-list>
                    <ons-list-header>並び順</ons-list-header>
                    <ons-list-item>
                        <span style="width:80px;">糖質</span>
                        <ons-button ng-click="sortClick(1)">昇順</ons-button>
                        <ons-button ng-click="sortClick(2)">降順</ons-button>
                    </ons-list-item>
                    <ons-list-item>
                        <span style="width:80px;">カロリー</span>
                        <ons-button ng-click="sortClick(3)">昇順</ons-button>
                        <ons-button ng-click="sortClick(4)">降順</ons-button>
                    </ons-list-item>
                    <ons-list-item>
                        <span style="width:80px;">値段</span>
                        <ons-button ng-click="sortClick(5)">昇順</ons-button>
                        <ons-button ng-click="sortClick(6)">降順</ons-button>
                    </ons-list-item>
                </ons-list>
            </ons-dialog>
        </ons-page>
    </template>


</body>

</html>
